---
layout: page
title: Download
permalink: /download/
menu: true
---

If you want recent builds have a look here :

{%for distro in distros%}
* [{{distro.name}}]({{distro.link}})
{% endfor %}

If you want the repository link for last tagged version have a look into the [documentation](http://alignak-doc.readthedocs.org/en/latest/02_installation/index.html).

